.big-container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: $title;
}

.title {
  font-size: 32px;
  font-weight: 300;
  line-height: 38px;
  text-transform: uppercase;
  color: $title;
}