@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding-top: 25px;
  position: absolute;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #D8D4CA 0%, rgba(217, 217, 217, 0) 100%);
}

.nav {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 0 40px;
  padding-top: 25px;
}

.menu__link {
  color: $darkgrey;
  font-size: 16px;
}

.menu__left {
  padding-left: 25px;
}

.menu__right {
  padding-right: 80px;
}

.promo {
  background-image: url('../images/promo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
    padding-top: 100px;
  }

  &__inner-title {
    @extend %impact-400;
    color: $title;
    font-size: 76px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
    margin-left: 10px;
  }

  &__inner-subtitle {
    @extend %impact-400;
    color: $title;
    font-size: 48px;
    border-bottom: 1px solid $title;
    margin-bottom: 15px;
    align-self: center;

    span {
      display: block;
      @extend %impact-400;
      font-size: 34px;
      line-height: 34px;
      color: $gold;
      padding: 10px 0;
    }
  }

  &__inner-text {
    font-size: 16px;
    color: $darkgrey;
    margin-bottom: 10px;
  }

  &__inner-link {
    margin-top: auto;
    margin-bottom: 30px;
    align-self: center;

    img {
      display: inline-block;
    }
  }
}

.info {
  margin-bottom: 100px;

  &__part {
    display: flex;
    padding-top: 100px;
    justify-content: space-between;
  }

  &__part--table {
    padding-top: 66px;
  }

  &__part--first {
    display: block;
  }

  &__part-title {
    margin-bottom: 30px;
  }

  &__part-textbox {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
  }

  &__text {
    flex-basis: 440px;
    margin-bottom: 30px;
  }

  &__part-img {
    object-fit: cover;
  }

  &__content {
    flex-basis: 430px;
  }

  &__part--second .info__text {
    max-width: 352px;
  }

  &__part--table .info__text {
    max-width: 377px;
  }

  &__table {
    flex-basis: 450px;
    border-bottom: 1px solid $title;
    position: relative;
    top: 20px;

    &::before {
      content: '';
      border-top: 1px solid $title;
      position: absolute;
      width: 100%;
      top: -20px;
    }

    td {
      padding-bottom: 20px;
    }
  }
}

.track {
  background-image: url('../images/track-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__title {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  &__text {
    max-width: 435px;
  }

  &__img {
    margin: auto auto 90px auto;
  }
}

/* Медиа запросы */
@import 'media';